In [218]:
import  pandas  as  pd
import  numpy  as  np
import  matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [219]:
#loading world cup data and results data 
world_cup = pd.read_csv('../dataset/World Cup 2018 Dataset.csv')
results = pd.read_csv('../dataset/results.csv')

In [220]:
world_cup.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Porugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN

In [221]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [222]:
#cleaning the data a bit
world_cup = world_cup.dropna(how='all')
world_cup = world_cup.replace({"IRAN": "Iran", 
                               "Costarica": "Costa Rica", 
                               "Porugal": "Portugal", 
                               "Columbia": "Colombia", 
                               "Korea" : "Korea Republic"})

In [223]:
world_cup.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Portugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN

In [224]:
#Adding winner column - by comparing home_score and away_score
winner = []
for i in range (len(results['home_team'])):
    if results ['home_score'][i] > results['away_score'][i]:
        winner.append(results['home_team'][i])
    elif results['home_score'][i] < results ['away_score'][i]:
        winner.append(results['away_team'][i])
    else:
        winner.append('Draw')
results['winning_team'] = winner

#adding goal difference column
results['goal_difference'] = np.absolute(results['home_score'] - results['away_score'])

results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Draw,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Draw,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland,3

In [225]:
worldcup_teams = ['Australia', 'Iran', 'Japan', 'Korea Republic', 
            'Saudi Arabia', 'Egypt', 'Morocco', 'Nigeria', 
            'Senegal', 'Tunisia', 'Costa Rica', 'Mexico', 
            'Panama', 'Argentina', 'Brazil', 'Colombia', 
            'Peru', 'Uruguay', 'Belgium', 'Croatia', 
            'Denmark', 'England', 'France', 'Germany', 
            'Iceland', 'Poland', 'Portugal', 'Russia', 
            'Serbia', 'Spain', 'Sweden', 'Switzerland']

#df_teams_home = results[results['home_team'].isin(worldcup_teams)]
#df_teams_away = results[results['away_team'].isin(worldcup_teams)]
#df_teams = pd.concat((df_teams_home, df_teams_away))
#df_teams.drop_duplicates()
#df_teams.head()

df_teams_home = results[results['home_team'].isin(worldcup_teams)]
df_teams_home = df_teams_home[results['away_team'].isin(worldcup_teams)]
df_teams_away = results[results['away_team'].isin(worldcup_teams)]
df_teams_away = df_teams_away[results['home_team'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_home, df_teams_away))
df_teams.drop_duplicates()
df_teams.head()

/home/bindus/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/bindus/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
144,1902-07-20,Uruguay,Argentina,0,6,Friendly,Montevideo,Uruguay,False,Argentina,6
152,1903-09-13,Argentina,Uruguay,2,3,Friendly,Buenos Aires,Argentina,False,Uruguay,1
160,1904-05-01,Belgium,France,3,3,Friendly,Brussels,Belgium,False,Draw,0
162,1905-02-12,France,Switzerland,1,0,Friendly,Paris,France,False,France,1
171,1905-05-07,Belgium,France,7,0,Friendly,Brussels,Belgium,False,Belgium,7

In [226]:
#create a year column. Drop games before 1930
year = []
for row in df_teams['date']:
    year.append(int(row[:4]))
df_teams['match_year'] = year
df_teams_1930 = df_teams[df_teams.match_year >= 1930]
df_teams_1930.head()

#df_teams_1930[df_teams_1930.match_year < 1930].count()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,match_year
1237,1930-02-23,Portugal,France,2,0,Friendly,Porto,Portugal,False,Portugal,2,1930
1240,1930-03-23,France,Switzerland,3,3,Friendly,Colombes,France,False,Draw,0,1930
1243,1930-04-13,France,Belgium,1,6,Friendly,Colombes,France,False,Belgium,5,1930
1250,1930-05-04,Switzerland,Germany,0,5,Friendly,Zürich,Switzerland,False,Germany,5,1930
1252,1930-05-10,Germany,England,3,3,Friendly,Berlin,Germany,False,Draw,0,1930

In [227]:
#dropping columns that wll not affect match outcome. 
#I am retaining match year and goal difference and will allocate some score to it
df_teams_1930 = df_teams_1930.drop(['date', 'home_score', 'away_score', 'tournament', 'city', 'country','neutral'], axis=1)
df_teams_1930.head()

        home_team    away_team winning_team  goal_difference  match_year
1237     Portugal       France     Portugal                2        1930
1240       France  Switzerland         Draw                0        1930
1243       France      Belgium      Belgium                5        1930
1250  Switzerland      Germany      Germany                5        1930
1252      Germany      England         Draw                0        1930

In [228]:
#Building the model
#the prediction label: 
#The winning_team column will show "2" if the home team has won, "1" if it was a tie, and "0" if the away team has won.

df_teams_mod = df_teams_1930.reset_index(drop=True)
df_teams_mod.loc[df_teams_mod.winning_team == df_teams_mod.home_team,'winning_team']=2
df_teams_mod.loc[df_teams_mod.winning_team == 'Draw', 'winning_team']=1
df_teams_mod.loc[df_teams_mod.winning_team == df_teams_mod.away_team, 'winning_team']=0

df_teams_mod.head()

     home_team    away_team  winning_team  goal_difference  match_year
0     Portugal       France             2                2        1930
1       France  Switzerland             1                0        1930
2       France      Belgium             0                5        1930
3  Switzerland      Germany             0                5        1930
4      Germany      England             1                0        1930

In [229]:
#convert home team and away team from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_teams_mod, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y = y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [230]:
final.head()

,winning_team,goal_difference,match_year,home_team_Argentina,home_team_Australia,home_team_Belgium,home_team_Brazil,home_team_Colombia,home_team_Costa Rica,home_team_Croatia,...,away_team_Portugal,away_team_Russia,away_team_Saudi Arabia,away_team_Senegal,away_team_Serbia,away_team_Spain,away_team_Sweden,away_team_Switzerland,away_team_Tunisia,away_team_Uruguay
0,2,2,1930,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1930,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,5,1930,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,5,1930,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,1930,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [231]:
logreg =  LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.782
Test set accuracy:  0.751

In [232]:
#adding Fifa rankings
#the team which is positioned higher on the FIFA Ranking will be considered "favourite" for the match
#and therefore, will be positioned under the "home_teams" column
#since there are no "home" or "away" teams in World Cup games. 

# Loading new datasets
ranking = pd.read_csv('../dataset/fifa_ranking.csv') 


# List for storing the group stage games
pred_set = []

In [233]:
rankings = ranking
year = []
for row in ranking['rank_date']:
    year.append(int(row[:4]))
rankings['rank_year'] = year
rankings_2018 = rankings[rankings.rank_year >= 2018]
rankings_2018 = rankings_2018[['rank','country_full','rank_year']]
rankings_2018 = rankings_2018.replace({"IR Iran": "Iran"})
rankings_2018.columns = ['Position','Team','rank_year']
#rankings_2018.set_index('Team')
#rankings_2018.drop(['rank_year'], axis = 1)
rankings_2018 = rankings_2018[-211:]
rankings_2018 = rankings_2018[rankings_2018['Team'].isin(worldcup_teams)]

rankings_2018.count()
rankings_2018.head()

       Position       Team  rank_year
57582         1    Germany       2018
57583         2     Brazil       2018
57584         3    Belgium       2018
57585         4   Portugal       2018
57586         5  Argentina       2018

In [234]:
fixtures.head()

,Round Number,first_position,second_position,Date,Location,Home Team,Away Team,Group,Result
0,1,70.0,67.0,14/06/2018 18:00,"Luzhniki Stadium, Moscow",Russia,Saudi Arabia,Group A,5 - 0
1,1,45.0,14.0,15/06/2018 15:00,Ekaterinburg Stadium,Egypt,Uruguay,Group A,0 - 1
2,1,41.0,37.0,15/06/2018 18:00,Saint Petersburg Stadium,Morocco,Iran,Group B,0 - 1
3,1,4.0,10.0,15/06/2018 21:00,"Fisht Stadium, Sochi",Portugal,Spain,Group B,3 - 3
4,1,7.0,36.0,16/06/2018 13:00,Kazan Arena,France,Australia,Group C,2 - 1

In [235]:
# Create new columns with ranking position of each team
fixtures = pd.read_csv('../dataset/fixtures.csv')
fixtures.insert(1, 'first_position', fixtures['Home Team'].map(rankings_2018.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Away Team'].map(rankings_2018.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:48, :]

In [236]:
fixtures.tail()

,Round Number,first_position,second_position,Date,Location,Home Team,Away Team,Group,Result
43,3,6.0,23.0,27/06/2018 21:00,Nizhny Novgorod Stadium,Switzerland,Costa Rica,Group E,2 - 2
44,3,61.0,8.0,28/06/2018 17:00,Volgograd Stadium,Japan,Poland,Group H,0 - 1
45,3,27.0,16.0,28/06/2018 17:00,Samara Stadium,Senegal,Colombia,Group H,0 - 1
46,3,55.0,21.0,28/06/2018 21:00,Saransk Stadium,Panama,Tunisia,Group G,1 - 2
47,3,12.0,3.0,28/06/2018 21:00,Kaliningrad Stadium,England,Belgium,Group G,0 - 1

In [237]:
# Loop to add teams to new prediction dataset based on the ranking position of each team# 
fixtures1 = fixtures
for index, row in fixtures1.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

In [238]:
pred_set.tail()

     away_team    home_team winning_team
43  Costa Rica  Switzerland         None
44       Japan       Poland         None
45     Senegal     Colombia         None
46      Panama      Tunisia         None
47     England      Belgium         None

In [239]:
pred_set1 = pred_set
# Get dummy variables and drop winning_team column# Get du 
pred_set1 = pd.get_dummies(pred_set1, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set1.columns)
for c in missing_cols:
    pred_set1[c] = 0
pred_set1 = pred_set1[final.columns]

# Remove winning team column
pred_set1 = pred_set1.drop(['winning_team'], axis=1)

pred_set1.head()

,goal_difference,match_year,home_team_Argentina,home_team_Australia,home_team_Belgium,home_team_Brazil,home_team_Colombia,home_team_Costa Rica,home_team_Croatia,home_team_Denmark,...,away_team_Portugal,away_team_Russia,away_team_Saudi Arabia,away_team_Senegal,away_team_Serbia,away_team_Spain,away_team_Sweden,away_team_Switzerland,away_team_Tunisia,away_team_Uruguay
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [240]:
set16 = backup_pred_set
#group matches 
predictions = logreg.predict(pred_set1)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
        set16.iloc[i,2] = backup_pred_set.iloc[i, 1] 
    elif predictions[i] == 1:
        print("Draw")
        set16.iloc[i,2] = 'Draw'
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
        set16.iloc[i,2] = backup_pred_set.iloc[i, 0]
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set1)[i][2]))
    print('Probability of Draw: ', '%.3f'%(logreg.predict_proba(pred_set1)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set1)[i][0]))
    print("")

Saudi Arabia and Russia
Winner: Russia
Probability of Saudi Arabia winning:  0.078
Probability of Draw:  0.351
Probability of Russia winning:  0.570

Uruguay and Egypt
Winner: Uruguay
Probability of Uruguay winning:  0.538
Probability of Draw:  0.364
Probability of Egypt winning:  0.098

Iran and Morocco
Draw
Probability of Iran winning:  0.300
Probability of Draw:  0.355
Probability of Morocco winning:  0.345

Portugal and Spain
Winner: Spain
Probability of Portugal winning:  0.238
Probability of Draw:  0.359
Probability of Spain winning:  0.403

France and Australia
Winner: France
Probability of France winning:  0.568
Probability of Draw:  0.324
Probability of Australia winning:  0.108

Argentina and Iceland
Winner: Argentina
Probability of Argentina winning:  0.636
Probability of Draw:  0.331
Probability of Iceland winning:  0.033

Peru and Denmark
Winner: Denmark
Probability of Peru winning:  0.343
Probability of Draw:  0.314
Probability of Denmark winning:  0.343

Croatia and Nigeria
Winner: Croatia
Probability of Croatia winning:  0.512
Probability of Draw:  0.324
Probability of Nigeria winning:  0.164

Costa Rica and Serbia
Draw
Probability of Costa Rica winning:  0.296
Probability of Draw:  0.361
Probability of Serbia winning:  0.343

Germany and Mexico
Winner: Germany
Probability of Germany winning:  0.473
Probability of Draw:  0.326
Probability of Mexico winning:  0.201

Brazil and Switzerland
Winner: Brazil
Probability of Brazil winning:  0.541
Probability of Draw:  0.368
Probability of Switzerland winning:  0.091

Sweden and Korea Republic
Winner: Sweden
Probability of Sweden winning:  0.460
Probability of Draw:  0.342
Probability of Korea Republic winning:  0.198

Belgium and Panama
Winner: Belgium
Probability of Belgium winning:  0.576
Probability of Draw:  0.323
Probability of Panama winning:  0.102

England and Tunisia
Winner: England
Probability of England winning:  0.586
Probability of Draw:  0.329
Probability of Tunisia winning:  0.085

Colombia and Japan
Winner: Colombia
Probability of Colombia winning:  0.384
Probability of Draw:  0.323
Probability of Japan winning:  0.294

Poland and Senegal
Winner: Poland
Probability of Poland winning:  0.444
Probability of Draw:  0.287
Probability of Senegal winning:  0.268

Egypt and Russia
Winner: Russia
Probability of Egypt winning:  0.103
Probability of Draw:  0.356
Probability of Russia winning:  0.541

Portugal and Morocco
Winner: Portugal
Probability of Portugal winning:  0.475
Probability of Draw:  0.338
Probability of Morocco winning:  0.188

Uruguay and Saudi Arabia
Winner: Uruguay
Probability of Uruguay winning:  0.583
Probability of Draw:  0.333
Probability of Saudi Arabia winning:  0.084

Spain and Iran
Winner: Spain
Probability of Spain winning:  0.581
Probability of Draw:  0.335
Probability of Iran winning:  0.083

Denmark and Australia
Winner: Denmark
Probability of Denmark winning:  0.484
Probability of Draw:  0.326
Probability of Australia winning:  0.190

France and Peru
Winner: France
Probability of France winning:  0.473
Probability of Draw:  0.330
Probability of Peru winning:  0.198

Argentina and Croatia
Winner: Argentina
Probability of Argentina winning:  0.498
Probability of Draw:  0.306
Probability of Croatia winning:  0.196

Brazil and Costa Rica
Winner: Brazil
Probability of Brazil winning:  0.616
Probability of Draw:  0.331
Probability of Costa Rica winning:  0.053

Iceland and Nigeria
Winner: Nigeria
Probability of Iceland winning:  0.168
Probability of Draw:  0.355
Probability of Nigeria winning:  0.477

Switzerland and Serbia
Winner: Switzerland
Probability of Switzerland winning:  0.362
Probability of Draw:  0.337
Probability of Serbia winning:  0.301

Belgium and Tunisia
Winner: Belgium
Probability of Belgium winning:  0.486
Probability of Draw:  0.319
Probability of Tunisia winning:  0.194

Mexico and Korea Republic
Winner: Mexico
Probability of Mexico winning:  0.441
Probability of Draw:  0.362
Probability of Korea Republic winning:  0.197

Germany and Sweden
Winner: Germany
Probability of Germany winning:  0.450
Probability of Draw:  0.311
Probability of Sweden winning:  0.239

England and Panama
Winner: England
Probability of England winning:  0.635
Probability of Draw:  0.326
Probability of Panama winning:  0.039

Senegal and Japan
Winner: Japan
Probability of Senegal winning:  0.269
Probability of Draw:  0.345
Probability of Japan winning:  0.386

Poland and Colombia
Winner: Colombia
Probability of Poland winning:  0.257
Probability of Draw:  0.369
Probability of Colombia winning:  0.374

Uruguay and Russia
Draw
Probability of Uruguay winning:  0.322
Probability of Draw:  0.378
Probability of Russia winning:  0.300

Egypt and Saudi Arabia
Winner: Egypt
Probability of Egypt winning:  0.404
Probability of Draw:  0.319
Probability of Saudi Arabia winning:  0.277

Portugal and Iran
Winner: Portugal
Probability of Portugal winning:  0.515
Probability of Draw:  0.347
Probability of Iran winning:  0.137

Spain and Morocco
Winner: Spain
Probability of Spain winning:  0.552
Probability of Draw:  0.328
Probability of Morocco winning:  0.120

France and Denmark
Winner: France
Probability of France winning:  0.491
Probability of Draw:  0.309
Probability of Denmark winning:  0.200

Peru and Australia
Winner: Peru
Probability of Peru winning:  0.459
Probability of Draw:  0.326
Probability of Australia winning:  0.215

Argentina and Nigeria
Winner: Argentina
Probability of Argentina winning:  0.604
Probability of Draw:  0.318
Probability of Nigeria winning:  0.077

Croatia and Iceland
Winner: Croatia
Probability of Croatia winning:  0.568
Probability of Draw:  0.353
Probability of Iceland winning:  0.079

Mexico and Sweden
Winner: Mexico
Probability of Mexico winning:  0.349
Probability of Draw:  0.342
Probability of Sweden winning:  0.308

Germany and Korea Republic
Winner: Germany
Probability of Germany winning:  0.524
Probability of Draw:  0.331
Probability of Korea Republic winning:  0.144

Brazil and Serbia
Winner: Brazil
Probability of Brazil winning:  0.589
Probability of Draw:  0.343
Probability of Serbia winning:  0.068

Switzerland and Costa Rica
Winner: Switzerland
Probability of Switzerland winning:  0.427
Probability of Draw:  0.321
Probability of Costa Rica winning:  0.253

Poland and Japan
Winner: Poland
Probability of Poland winning:  0.395
Probability of Draw:  0.319
Probability of Japan winning:  0.286

Colombia and Senegal
Winner: Colombia
Probability of Colombia winning:  0.436
Probability of Draw:  0.290
Probability of Senegal winning:  0.274

Tunisia and Panama
Winner: Tunisia
Probability of Tunisia winning:  0.523
Probability of Draw:  0.363
Probability of Panama winning:  0.113

Belgium and England
Winner: England
Probability of Belgium winning:  0.183
Probability of Draw:  0.344
Probability of England winning:  0.473

In [241]:
set16

         away_team     home_team winning_team
0           Russia  Saudi Arabia       Russia
1            Egypt       Uruguay      Uruguay
2          Morocco          Iran         Draw
3            Spain      Portugal        Spain
4        Australia        France       France
5          Iceland     Argentina    Argentina
6          Denmark          Peru      Denmark
7          Nigeria       Croatia      Croatia
8           Serbia    Costa Rica         Draw
9           Mexico       Germany      Germany
10     Switzerland        Brazil       Brazil
11  Korea Republic        Sweden       Sweden
12          Panama       Belgium      Belgium
13         Tunisia       England      England
14           Japan      Colombia     Colombia
15         Senegal        Poland       Poland
16          Russia         Egypt       Russia
17         Morocco      Portugal     Portugal
18    Saudi Arabia       Uruguay      Uruguay
19            Iran         Spain        Spain
20       Australia       Denmark      Denmark
21            Peru        France       France
22         Croatia     Argentina    Argentina
23      Costa Rica        Brazil       Brazil
24         Nigeria       Iceland      Nigeria
25          Serbia   Switzerland  Switzerland
26         Tunisia       Belgium      Belgium
27  Korea Republic        Mexico       Mexico
28          Sweden       Germany      Germany
29          Panama       England      England
30           Japan       Senegal        Japan
31        Colombia        Poland     Colombia
32          Russia       Uruguay         Draw
33    Saudi Arabia         Egypt        Egypt
34            Iran      Portugal     Portugal
35         Morocco         Spain        Spain
36         Denmark        France       France
37       Australia          Peru         Peru
38         Nigeria     Argentina    Argentina
39         Iceland       Croatia      Croatia
40          Sweden        Mexico       Mexico
41  Korea Republic       Germany      Germany
42          Serbia        Brazil       Brazil
43      Costa Rica   Switzerland  Switzerland
44           Japan        Poland       Poland
45         Senegal      Colombia     Colombia
46          Panama       Tunisia      Tunisia
47         England       Belgium      England

In [242]:
# List of tuples before  
group_16 = [('France', 'Argentina'),
            ('Uruguay', 'Portugal'),
            ('Spain', 'Russia'),
            ('Croatia', 'Denmark'),
            ('Brazil', 'Mexico'),
            ('Belgium', 'Japan'),
            ('Sweden', 'Switzerland'),
            ('Colombia', 'England')]

In [243]:
#Adding a form bias to the rankings based on pre-knockout rounds
formBias = pd.read_csv('../dataset/Form-Bias-1.csv')
formBias

,Team,Group,points,GoalsFor,GoalsAgainst,GoalDiff,FormBias,RankImprove,currentRank,newRank
0,Uruguay,A,9.0,5.0,0.0,5.0,155.56,0.56,14.0,6.0
1,Russia,A,6.0,8.0,4.0,4.0,111.11,0.11,70.0,62.0
2,Spain,B,5.0,6.0,5.0,1.0,66.67,-0.33,10.0,13.0
3,Portugal,B,5.0,5.0,4.0,1.0,66.67,-0.33,4.0,5.0
4,France,C,7.0,3.0,1.0,2.0,100.00,0.00,7.0,7.0
5,Denmark,C,5.0,2.0,1.0,1.0,66.67,-0.33,12.0,16.0
6,Croatia,D,9.0,7.0,1.0,6.0,166.67,0.67,20.0,7.0
7,Argentina,D,4.0,3.0,5.0,-2.0,22.22,-0.78,5.0,9.0
8,Brazil,E,7.0,5.0,1.0,4.0,122.22,0.22,2.0,2.0
9,Switzerland,E,5.0,5.0,4.0,1.0,66.67,-0.33,6.0,8.0
10,Sweden,F,6.0,5.0,2.0,3.0,100.00,0.00,24.0,24.0
11,Mexico,F,6.0,3.0,4.0,-1.0,55.56,-0.44,15.0,22.0
12,Belgium,G,9.0,9.0,2.0,7.0,177.78,0.78,3.0,1.0
13,England,G,6.0,8.0,3.0,5.0,122.22,0.22,12.0,9.0
14,Colombia,H,6.0,5.0,2.0,3.0,100.00,0.00,16.0,16.0
15,Japan,H,4.0,4.0,4.0,0.0,44.44,-0.56,61.0,95.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
#change Ranking based on Form-Bias
top_16 = ['France', 'Argentina',
            'Uruguay', 'Portugal',
            'Spain', 'Russia',
            'Croatia', 'Denmark',
            'Brazil', 'Mexico',
            'Belgium', 'Japan',
            'Sweden', 'Switzerland',
            'Colombia', 'England']
rankings_20181 = rankings_2018.loc[(rankings_2018['Team'].isin(top_16))]

rankings_20182 = rankings_20181.merge(formBias, how = 'inner')
rankings_20182 = rankings_20182[['newRank','Team']]
rankings_20182.columns = ['Position','Team'] 
#rankings_20181['Positions'] = rankings_20181['newRank']
rankings_20182

    Position         Team
0        2.0       Brazil
1        1.0      Belgium
2        5.0     Portugal
3        9.0    Argentina
4        8.0  Switzerland
5        7.0       France
6       13.0        Spain
7       16.0      Denmark
8        9.0      England
9        6.0      Uruguay
10      22.0       Mexico
11      16.0     Colombia
12       7.0      Croatia
13      24.0       Sweden
14      95.0        Japan
15      62.0       Russia

In [245]:
def clean_and_predict(matches, ranking, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to FIFA ranking
    for match in matches:
        positions.append(rankings_2018.loc[rankings_2018['Team'] == match[0],'Position'].iloc[0])
        positions.append(rankings_2018.loc[rankings_2018['Team'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better, he will be the 'home' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'home_team': matches[j][0], 'away_team': matches[j][1]})
        else:
            dict1.update({'home_team': matches[j][1], 'away_team': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1

    # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    # Remove winning team column
    pred_set = pred_set.drop(['winning_team'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 2:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        elif predictions[i] == 1:
            print("Draw")
        elif predictions[i] == 0:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ' , '%.3f'%(logreg.predict_proba(pred_set)[i][2]))
        print('Probability of Draw: ', '%.3f'%(logreg.predict_proba(pred_set)[i][1])) 
        print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][0]))
        print("")

In [246]:
clean_and_predict(group_16, rankings_20182, final, logreg)

Argentina and France
Winner: Argentina
Probability of Argentina winning:  0.376
Probability of Draw:  0.339
Probability of France winning:  0.285

Portugal and Uruguay
Winner: Portugal
Probability of Portugal winning:  0.395
Probability of Draw:  0.329
Probability of Uruguay winning:  0.276

Spain and Russia
Winner: Spain
Probability of Spain winning:  0.414
Probability of Draw:  0.357
Probability of Russia winning:  0.229

Denmark and Croatia
Winner: Denmark
Probability of Denmark winning:  0.355
Probability of Draw:  0.301
Probability of Croatia winning:  0.344

Brazil and Mexico
Winner: Brazil
Probability of Brazil winning:  0.552
Probability of Draw:  0.345
Probability of Mexico winning:  0.103

Belgium and Japan
Winner: Belgium
Probability of Belgium winning:  0.430
Probability of Draw:  0.314
Probability of Japan winning:  0.255

Switzerland and Sweden
Winner: Sweden
Probability of Switzerland winning:  0.268
Probability of Draw:  0.318
Probability of Sweden winning:  0.414

England and Colombia
Winner: England
Probability of England winning:  0.460
Probability of Draw:  0.368
Probability of Colombia winning:  0.172

In [247]:
# List of matches
quarters = [('Portugal', 'Argentina'),
            ('Brazil', 'Belgium'),
            ('Spain', 'Denmark'),
            ('Sweden', 'England')]

In [248]:
clean_and_predict(quarters, rankings_20182, final, logreg)

Portugal and Argentina
Winner: Argentina
Probability of Portugal winning:  0.285
Probability of Draw:  0.329
Probability of Argentina winning:  0.386

Brazil and Belgium
Winner: Brazil
Probability of Brazil winning:  0.525
Probability of Draw:  0.359
Probability of Belgium winning:  0.117

Spain and Denmark
Winner: Spain
Probability of Spain winning:  0.530
Probability of Draw:  0.314
Probability of Denmark winning:  0.156

England and Sweden
Winner: England
Probability of England winning:  0.491
Probability of Draw:  0.320
Probability of Sweden winning:  0.189

In [249]:
# List of matches
semis = [('Argentina', 'Brazil'),
        ('Spain', 'England')]

In [250]:
clean_and_predict(semis, rankings_20182, final, logreg)

Brazil and Argentina
Winner: Brazil
Probability of Brazil winning:  0.443
Probability of Draw:  0.343
Probability of Argentina winning:  0.214

Spain and England
Draw
Probability of Spain winning:  0.343
Probability of Draw:  0.348
Probability of England winning:  0.309

In [251]:
# Finals
finals = [('Brazil', 'Spain')]

In [252]:
clean_and_predict(finals, rankings_20182, final, logreg)

Brazil and Spain
Winner: Brazil
Probability of Brazil winning:  0.402
Probability of Draw:  0.377
Probability of Spain winning:  0.222

In [253]:
#3rd place
place3 = [('Argentina', 'England')]

In [254]:
clean_and_predict(place3, rankings_20182, final, logreg)

Argentina and England
Draw
Probability of Argentina winning:  0.330
Probability of Draw:  0.349
Probability of England winning:  0.321

In [255]:
#1:Brazil 2:Spain 3:Argentina 4:England